<nav class="flex mb-6" aria-label="Breadcrumb">
    <ol class="inline-flex items-center space-x-1 space-x-reverse md:space-x-3">
        <li class="inline-flex items-center">
            <a href="{% url 'accounts:dashboard' %}" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white">
                <i class="ti ti-home mr-1"></i>
                خانه
            </a>
        </li>
        {% block breadcrumb %}
        <li aria-current="page">
            <div class="flex items-center">
                <i class="ti ti-chevron-left text-gray-400 mx-1"></i>
                <span class="ml-1 text-sm font-medium text-gray-500 md:ml-2 dark:text-gray-400">داشبورد</span>
            </div>
        </li>
        {% endblock %}
    </ol>
</nav>