<nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #27374D;">
    <div class="container-fluid">
        <button class="navbar-toggler me-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <a class="navbar-brand me-2" href="#">
            <i class="fas fa-hotel ms-2"></i>
            <span class="d-none d-md-inline">مدیریت هتل</span>
        </a>
        
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="notificationsDropdown" role="button" data-bs-toggle="dropdown">
                        <i class="fas fa-bell"></i>
                        <span class="badge bg-danger rounded-pill">۳</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-start">
                        <li><h6 class="dropdown-header">اعلانات</h6></li>
                        <li><a class="dropdown-item" href="#">رزرو جدید دریافت شد</a></li>
                        <li><a class="dropdown-item" href="#">نیاز به سرویس اتاق</a></li>
                        <li><a class="dropdown-item" href="#">یادآوری خروج</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">مشاهده همه</a></li>
                    </ul>
                </li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown">
                        <i class="fas fa-user-circle ms-1"></i>
                        <span class="d-none d-md-inline">مدیر سیستم</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-start">
                        <li><a class="dropdown-item" href="#"><i class="fas fa-user ms-2"></i>پروفایل</a></li>
                        <li><a class="dropdown-item" href="#"><i class="fas fa-cog ms-2"></i>تنظیمات</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#"><i class="fas fa-sign-out-alt ms-2"></i>خروج</a></li>
                    </ul>
                </li>
            </ul>
            
            <form class="d-flex ms-3">
                <input class="form-control me-2" type="search" placeholder="جستجو..." aria-label="Search">
                <button class="btn btn-outline-light" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </form>
        </div>
    </div>
</nav>